<div class="container">
  <div class="row">
    <div class="col-8 chiffres-user">
      <h3> Vos chiffres du mois </h3>
        <div class="nb-resa">
          <% sum = 0 %>
          <% @activities.each do |activity| %>
          <% number_booking = activity.bookings.length %>
          <% sum += number_booking %>
          <%end%>
          <h5> <%= sum %> réservations </h5>
          <p>Voir les détails</p>
        </div>
        <div class="chiffre-affaires">
          <% ca = 0 %>
          <% @activities.each do |activity| %>
            <% ca_per_activity = 0 %>
              <% activity.bookings.each do |booking|%>
                <% price = booking.total_price%>
                <% ca_per_activity += price %>
              <%end%>
            <% ca += ca_per_activity %>
          <%end%>
          <h5> <%= ca/100 %> euros gagnés </h5>
          <p>Voir les détails</p>
        </div>
        <div class="nb_avis">
          <h5> 18 avis </h5>
          <p>Voir les détails</p>
        </div>
    </div>
    <div class="col-4">
      <%=link_to "Ajouter une activité", new_activity_path %>
    </div>
   </div>


  <div class="row">
    <div class="col-8">
      <h3> Vos activités en ligne </h3>
      <% @activities.each do |activity| %>
      <div class="lr-card">
        <img src= <%= activity.main_photo %> >
          <div class="lr-card-info" id="user-activities">
              <h4> <%= activity.title %> </h4>
              <p> <%= activity.city %> </p>
              <ul>
                <li><%= link_to "Voir les détails", activity_path(activity) %></li>
                <li><%= link_to "Editer", edit_activity_path(activity) %></li>
                <li>
                  <%= link_to "Supprimer", activity_path(activity),
                      method: :delete,
                      data: { confirm: "Etes vous sûr de vouloir supprimer cette activité ?" } %>
                </li>
              </ul>
          </div>
      </div>
      <%end%>
    </div>


    <div class="col-4">
      <div>  </div>
    </div>
  </div>
</div>




