<div class="container">
  <div class="row top-myactivities">
    <div class="col-8 chiffres-user-card">
      <h3> Vos chiffres du mois </h3>
      <br>
      <div class="chiffres-user">
        <div class="nb-resa">
          <% sum = 0 %>
          <% @activities.each do |activity| %>
          <% number_booking = activity.bookings.length %>
          <% sum += number_booking %>
          <%end%>
          <h5> <%= sum %> réservation(s) </h5>
          <p>Voir les détails</p>
        </div>
        <div class="chiffre-affaires">
          <% ca = 0 %>
          <% @activities.each do |activity| %>
            <% ca_per_activity = 0 %>
              <% activity.bookings.each do |booking|%>
                <% price = booking.total_price%>
                <% ca_per_activity += price %>
              <%end%>
            <% ca += ca_per_activity %>
          <%end%>
          <h5> <%= ca %> euros gagnés </h5>
          <p>Voir les détails</p>
        </div>
        <div class="nb_avis">
          <h5> 18 avis </h5>
          <p>Voir les détails</p>
        </div>
      </div>
    </div>
    <div class="col-4 ajout-dashboard">
      <%=link_to "Ajouter une activité", new_activity_path %>
    </div>
   </div>

<!-- Si activités et bookings -->

<!-- Navbar tabs -->
  <% if current_user.activities.any? && current_user.bookings.any? %>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="my_activities-tab" data-toggle="tab" href="#my_activities" role="tab" aria-controls="my_activities" aria-selected="true">Mes activités</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="bookings-tab" data-toggle="tab" href="#bookings" role="tab" aria-controls="bookings" aria-selected="false">Mes réservations</a>
      </li>
    </ul>
  <% end %>

<!-- Affichage "Mes activités" -->
  <div class="tab-content" id="myTabContent">

  <% if current_user.activities.any? %>
    <div class="tab-pane fade show active" id="my_activities" role="tabpanel" aria-labelledby="my_activities-tab">
      <div class="row">
          <div class="col-8">
            <h3> Vos activités en ligne </h3>
            <% @activities.each do |activity| %>
            <div class="lr-card">
              <img src= <%= activity.main_photo %> >
                <div class="lr-card-info" id="user-activities">
                    <h4> <%= activity.title %> </h4>
                    <p> <%= activity.address %> </p>
                    <ul id="see-edit-delete">
                      <li><%= link_to "Voir les détails", activity_path(activity) %></li>
                      <li><%= link_to "Editer", edit_activity_path(activity) %></li>
                      <li>
                        <%= link_to "Supprimer", activity_path(activity),
                            method: :delete,
                            data: { confirm: "Etes vous sûr de vouloir supprimer cette activité ?" } %>
                      </li>
                    </ul>
                </div>
            </div>
            <%end%>
          </div>

          <div class="col-4">
            <div>  </div>
          </div>
      </div>
    </div>
  <% end %>

<!-- Affichage "Mes bookings" -->
<% if current_user.bookings.any? %>
  <div class="tab-pane fade" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">
      <div class="row">
          <div class="col-8">
            <h3> Vos réservations </h3>
            <% @bookings.each do |booking| %>
            <div class="lr-card">
              <img src= <%= booking.activity.main_photo %> >
                <div class="lr-card-info" id="user-activities">
                    <h4> <%= booking.activity.title %> </h4>
                    <p> <%= booking.activity.address %> </p>
                </div>
            </div>
            <%end%>
          </div>

          <div class="col-4">
            <div>  </div>
          </div>
      </div>
    </div>
  <% end %>

</div>


