<div class="container">
  <div class="row top-myactivities">
    <div class="col-8 chiffres-user-card">
      <h2> Vos chiffres du mois </h2>
      <br>
      <div class="chiffres-user">
        <div class="nb-resa">
          <% sum = 0 %>
          <% @activities.each do |activity| %>
          <% number_booking = activity.bookings.length %>
          <% sum += number_booking %>
          <%end%>
          <i class="far fa-calendar-check"></i>
          <h5> <%= sum %> réservation(s) </h5>
          <p>Voir les détails</p>
        </div>
        <div class="chiffre-affaires">
          <% ca = 0 %>
          <% @activities.each do |activity| %>
            <% ca_per_activity = 0 %>
              <% activity.bookings.each do |booking|%>
                <% price = booking.total_price%>
                <% ca_per_activity += price %>
              <%end%>
            <% ca += ca_per_activity %>
          <%end%>
          <i class="fas fa-piggy-bank"></i>
          <h5> <%= ca %> euro(s) gagné(s) </h5>
          <p>Voir les détails</p>
        </div>
        <div class="nb_avis">
          <i class="far fa-comment"></i>
          <h5> 8 avis </h5>
          <p>Voir les détails</p>
        </div>
      </div>
    </div>

    <div class="col-4 ajout-dashboard">
      <div class="dark-blue-empty-button">
        <a href="#"> Modifier ma fiche partenaire </a>
      </div>
      <div class="dark-blue-empty-button">
        <%=link_to "Réserver une activité", activities_path %>
      </div>
      <div class="dark-button">
        <%=link_to "Ajouter une activité", new_activity_path %>
      </div>
    </div>
  </div>

<!-- Si activités et bookings -->

<!-- Navbar tabs -->
  <% if current_user.activities.any? && current_user.bookings.any? %>
    <ul class="nav nav-tabs marg" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="my_activities-tab" data-toggle="tab" href="#my_activities" role="tab" aria-controls="my_activities" aria-selected="true"> Mes activités (<%= @activities.size %>)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="bookings-tab" data-toggle="tab" href="#bookings" role="tab" aria-controls="bookings" aria-selected="false">Mes réservations (<%= current_user.bookings.size %>) </a>
      </li>
    </ul>
  <% end %>

<!-- Affichage "Mes activités" -->
  <div class="tab-content" id="myTabContent">

    <% if current_user.activities.any? %>
      <div class="tab-pane fade show active" id="my_activities" role="tabpanel" aria-labelledby="my_activities-tab">
        <div class="row">
          <div class="col-8">
            <h2 class="mt-3"> Vos activités en ligne </h2>
            <% @activities.each do |activity| %>
              <div class="lr-card" id="lr-card-myactivities">
                <img src= <%= activity.main_photo %> >
                <div class="lr-card-info" id="user-activities">
                  <h4> <%= activity.title %> </h4>
                  <p> <%= Geocoder.search(activity.address).first.city %> </p>
                  <ul id="see-edit-delete">
                    <li class="grey-link">
                      <%= link_to "Voir les détails", activity_path(activity) %>
                    </li>
                    <li class="grey-link">
                      <%= link_to "Editer", edit_activity_path(activity) %>
                    </li>
                    <li class="red-link">
                      <%= link_to "Supprimer", activity_path(activity),
                          method: :delete,
                          data: { confirm: "Etes vous sûr de vouloir supprimer cette activité ?" } %>
                    </li>
                  </ul>
                </div>
              </div>
            <%end%>
           <!--  </div> -->
          </div>
        </div>
      </div>
    <% end %>

<!-- Affichage "Mes bookings" -->
    <% if current_user.bookings.any? %>
      <div class="tab-pane fade" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">
        <div class="row">
          <div class="col-8">
            <h2> Vos réservations </h2>
            <% @bookings.each do |booking| %>
              <div class="reservation">
                <h3> Le <%= booking.date_time.strftime("%d/%m/%Y") %> à <%= booking.date_time.strftime("%H:%M") %>
                </h3>
                <div class="lr-card" id="lr-card">
                  <img src= <%= booking.activity.main_photo %> >
                  <div class="lr-card-info" id="user-activities">
                    <div class="price">
                      <p> Prix total </p>
                      <h2> <%= booking.total_price%>€</h2>
                    </div>
                    <h4> <%= booking.activity.title %> </h4>
                    <p> <%= Geocoder.search(booking.activity.address).first.city %> </p>
                    <div class="list-details">
                      <ul>
                        <li> <%= booking.activity.duration %> min</li>
                        <li> <%= booking.number_of_participants %> participants</li>
                        <li> Rappel : <%= booking.activity.min_age %>ans min.</li>
                      </ul>
                    </div>
                    <%= link_to "Voir l'activité", activity_path(booking.activity), id:"btn-dark-blue" %>
                  </div>
                </div>
              <%end%>
              </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>


