<div>
  <%= image_tag "logo.png", alt: "Le Wagon", width: 400, height: 200 %>
  <%= image_tag "logo.png", alt: "Le Wagon", width: 400, height: 200 %>
</div>
<div>
  <div>
    <div>
      <div><=% @activity.title =></div>
      <div><=% @activity.unit_price * 100 =>€<span>/personne</span></div>
    </div>
    <div>
      <div><%= @activity.duration %></div>
      <div><%= @activity.min_number_of_participants%>-@activity.max_number_of_participants%> personnes</div>
      <div><%= @activity.min_age %> ans min</div>
      <div><%= @activity.category%></div>
    </div>
    <div>
      <h2>Horaires</h2>
      <%= @activity.schedule %>
    </div>
    <div>
      <h2>Nous situer</h2>
      <%= @activity.address @activity.zipcode @activity.city %>
      <map></map>
    </div>
  </div>
  <div>
    <div>
      <div>
        <h2>Participants</h2>
        <%= f.input :number_of_participants, collection: ['1 personne', '2 personnes'] %>
      </div>
      <div>
        <h2>Dates</h2>
        <%= f.input :date_time, collection: => ["20/08/2019", "21/08/2019"] %>
      </div>
      <div>
        <h2>Plage horaire</h2>
        <%= f.input :date_time, collection: => ["09h00", "09h30", "10h00", "10h30", "11h00", "11h30", "12h00"] %>
      </div>
      <div>
        <h2>Total</h2>
      </div>
      <div>
        <%= link_to "Valider ma réservation", _path %>
      </div>
    </div>
    <div>
      <h2>Les garanties</h2>
      <p>Texte</p>
    </div>
  </div>
</div>
