<div class="full-width-container">

  <div class="na-container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="my_activity-tab" id="nav-link-personalized" data-toggle="tab" href="#my_activity" role="tab" aria-controls="my_activitiy" aria-selected="true">Mon activité</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="participants-tab" id="nav-link-personalized"data-toggle="tab" href="#participants" role="tab" aria-controls="participants" aria-selected="false">Les participants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="address-tab" id="nav-link-personalized" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false">Mes coordonnées et horaires</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pictures-tab" id="nav-link-personalized" data-toggle="tab" href="#pictures" role="tab" aria-controls="picture" aria-selected="false">Mes photos</a>
      </li>
    </ul>


    <%= simple_form_for [@activity] do |f| %>
      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="my_activity" role="tabpanel" aria-labelledby="my_activity-tab">
          <div class="field">
            <div class="correct-icone">
              <i class="fas fa-pen"></i>
            </div>
              <%= f.input :title, label: 'Titre' %>
          </div>
          <div class="field">
            <div class="correct-icone">
              <i class="far fa-edit"></i>
            </div>
              <%= f.input :description, label: 'Description' %>
          </div>
          <div class="field">
            <div class="correct-icone">
              <i class="fas fa-snowboarding"></i>
            </div>
              <%= f.input :category, label: 'Catégorie', collection: ["sports sensations", "sports nautiques", "mécanique", "ludique", "activités extérieures", "bien-être", "loisirs créatifs", "fin gourmet", "danse"] %>
          </div>
          <div class="details-form">
            <div class="field">
              <div class="correct-icone-small">
                <i class="fas fa-euro-sign"></i>
              </div>
            <%= f.input :unit_price, label: 'Prix/pers' %>
            </div>
            <div class="field">
              <div class="correct-icone-small">
                <i class="fas fa-hourglass-end"></i>
              </div>
            <%= f.input :duration, label: 'Durée (en min)', collection: [15, 30, 45, 60, 75, 90, 105, 120] %>
            </div>
            <div class="field">
              <div class="correct-icone-small">
                <i class="fas fa-sort-amount-up"></i>
              </div>
            <%= f.input :max_sessions, label: 'Nb max sessions/jour' %>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="participants" role="tabpanel" aria-labelledby="participants-tab">
          <div class="field">
            <div class="correct-icone">
              <i class="fas fa-user"></i>
            </div>
            <%= f.input :min_number_of_participants, label: 'Nb min participants', id:'field_text' %>
          </div>
          <div class="field">
            <div class="correct-icone">
              <i class="fas fa-users"></i>
            </div>
            <%= f.input :max_number_of_participants, label: 'Nb max participants', id:'field_text'  %>
          </div>
          <div class="field">
            <div class="correct-icone">
              <i class="fas fa-ban"></i>
            </div>
            <%= f.input :min_age, label: 'Age min', id:'field_text'  %>
          </div>
        </div>

        <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
          <div class="field">
            <div class="correct-icone">
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <%= f.input :address, label: 'Adresse complète', id:'field_text'  %>
          </div>
          <div class="field">
            <div class="correct-icone">
              <i class="far fa-clock"></i>
            </div>
            <%= f.input :schedule, label: 'Horaires', id:'field_text'  %>
          </div>
        </div>

        <div class="tab-pane fade" id="pictures" role="tabpanel" aria-labelledby="pictures-tab">
          <div class="field">
            <div class="correct-icone">
              <i class="far fa-image"></i>
            </div>
            <%= f.input :main_photo, label: 'Photo principale' %>
            <%= f.input :main_photo_cache, as: :hidden %>
          </div>
          <br>
          <div class="field">
            <div class="correct-icone">
              <i class="far fa-image"></i>
            </div>
            <%= f.input :second_photo, label: 'Photo secondaire' %>
            <%= f.input :second_photo_cache, as: :hidden %>
          </div>
            <div class="button_holder">
              <% if @activity.id? %>
                <%= f.submit "Modifier mon activité", class: "dark-blue-empty-button" %>
              <% else %>
                <%= f.submit "Ajouter mon activité", class: "dark-blue-empty-button" %>
              <% end %>
          </div>
          <% end %>
        </div>

      </div>
    </div>
</div>
