<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <% @activities.each do |activity| %>
      <div class="lr-card">
        <img src= <%= activity.main_photo %> >
          <div class="lr-card-info" id="list-activities">
            <div class="price">
              <h5> <%= activity.unit_price/100 %>€</h5>
              <p>/pers.</p>
            </div>
              <h4> <%= activity.title %> </h4>
              <p> <%= activity.city %> </p>
              <ul>
                <li> <%= activity.duration %> min</li>
                <li> <%= activity.min_number_of_participants %> - <%= activity.max_number_of_participants %> participants</li>
                <li> <%= activity.min_age %> ans min</li>
              </ul>
              <%= link_to "Découvrir", activity_path(activity) %>
        </div>
      </div>
      <%end%>
    </div>


    <div class="col-6">
      <div>  </div>
    </div>
  </div>
</div>

