<div class='container main-box mt-3'>
  <div class='images'>
    <div class='image-box'><%= cl_image_tag @activity.main_photo, alt: "Le Wagon", class: "img rounded"%></div>
    <div class='image-box'><%= cl_image_tag @activity.second_photo, alt: "Le Wagon", class: "img rounded" %></div>
  </div>
  <div class='content-booking-box'>
    <div class='content-box'>
      <div class='m-3 border-bottom'>
        <div class='title-price-box'>
          <h2><%= @activity.title.capitalize %></h2>
          <div>
            <h2 class='price'><%= @activity.unit_price / 100 %>€</h2>
            <p id='light-details'>/personne</p>
          </div>
        </div>
        <div class='mb-3'>
          <p><%= @activity.description.capitalize %></p>
        </div>
        <div class='mb-3 info-box'>
          <p class="info"><%= @activity.duration %> minutes</p>
          <p class="info"><%= @activity.min_number_of_participants %> - <%=@activity.max_number_of_participants %> personnes</p>
          <p class="info"><%= @activity.min_age %> ans min</p>
          <p class="info"><%= @activity.category.capitalize %></p>
        </div>
      </div>
      <div class='m-3 border-bottom'>
        <h3>Horaires</h3>
        <p class='mb-3'><%= @activity.schedule %></p>
      </div>
      <div class='m-3 border-bottom'>
        <h3>Nous situer</h3>
        <p><%= @activity.address %></p>
        <map class='mb-3 mt-3 show-map'>map à ajouter</map>
      </div>
      <div class='m-3'>
        <h3>Avis sur les partenaires</h3>
        <p>Avis</p>
      </div>
    </div>
    <div class='booking-waranty-box'>
      <div class='card booking-box m-3 p-3'>
        <% if user_signed_in? %>
          <%= simple_form_for [@activity, @booking] do |f| %>
            <div>
              <%= f.input :number_of_participants, label: 'Participants', collection: (1..20) %>
            </div>
            <div>
              <%= f.input :date_time, label: 'Date', collection: ["2019-08-21", "2019-08-22"] %>
            </div>
            <div>
              <%= f.input :date_time, label: 'Heure', collection: ["09h00", "09h30", "10h00", "10h30", "11h00", "11h30", "12h00", "12h30", "13h00", "13h30", "14h00"] %>
            </div>
            <div class='total mt-3 mb-3'>
              <h6>Total</h6>
              <h6 class='total-price'><span class='calcul'></span>€</h6>
            </div>
            <div class='mt-3 mb-2'>
              <%= f.submit "Valider ma réservation", class: 'dark-button resa-btn p-0' %>
            </div>
          <% end %>
        <% else %>
          <%= link_to "Login before booking", new_user_session_path, class: "btn" %>
        <% end %>
      </div>
      <div class='m-3'>
        <h5>Les garanties</h5>
        <p>Texte</p>
      </div>
    </div>
  </div>
  <div style='height: 500px'>
  </div>
</div>

